[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pyqt5 = "*"
xlwt = "*"
xlrd = "*"
opencv-python = "*"
pyzbar = "*"
pandas = "*"
matplotlib = "*"
plotly = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.10"
